system/unity/src/vehicle_simulator/log/
system/unity/src/vehicle_simulator/mesh/
ai_module/build/
ai_module/devel/
system/unity/build/
system/unity/devel/
**/.vscode/**
**/__pycache__/**
.catkin_workspace
*.pkl
*.pth
.idea/
system/matterport/build/
system/matterport/devel/
aa_develop/build/
aa_develop/devel/

# Ignore the model weights
aa_develop/src/object_detector/models/*
# BUt include the README file
!aa_develop/src/object_detector/models/README.md